doctype html
html
	head
		title 喵帕斯~
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Nunito:700')
	body
		.main-container
			.main
				.head 
					p 干了这碗萝莉汤，来生再日常大王！
				h1#count #{nyanpasu}

				button#nyanpasu 喵帕斯～

				.redirect
					a(href="http://nyanpass.com/",target="_blank") 前往 nyanpass.com
		script(src="javascripts/nyanpasu.js", type="text/javascript")